.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
    // Data
    &-data {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      gap: 10px;
    }
  
    // Image
  
    img {
      width: 280px;
    }
  }