.sponsor {
    width: 80%;
    margin: 0 auto;
  
    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-items: center;
      gap: 30px;
      img {
        width: 150px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          scale: 1.1;
        }
      }
    }
  }